<form>
    <label for="email">E-Mail:</label>
    <input type="text" id="email" name="fname"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="lname"><br><br>
    <button type="button">
        <a href="/auth/google/login">Iniciar con Google</a>
    </button>
    <button type="submit">Submit</button>
</form>

<script>
    function pressed() {
        console.log("Presionaste el botón");
    }
</script>